input::placeholder{
    color: slategray;
    font-family: myfont1;
    padding: 20px;
}

@font-face{
    font-family: myfont1;
    src: url(/asset/ZiTiQuanXinYiGuanHeiTi2.0-2.ttf);
}
.topbar{
    height: 60px;
    background-image: linear-gradient(to top, rgba(21, 24, 44, 0.8), rgba(12, 14, 54, 0.8));
    padding: 0;
    position: fixed;
    top: 0;
}
.icon{
    margin: 10px;
    margin-left: 30px;
    color: rgb(218, 217, 174);
}
.topspan{
    color: rgb(218, 217, 174);
    font-family: myfont1;
    padding: 15px;
    position: absolute;
    right: 0;
}

.topspan-1{
    right: 109px;
}
.topspan-2{
    right: 185px;
}
.topspan-3{
    right: 280px;
}
.topspan-4{
    right: 20px;
}

.searchbox{
    width: 200px;
    height: 30px;
    margin-left: 60px;
    border-radius: 7px;
    background-color: #d4d8f7;
    outline: 0;
    border-style: none;
    font-family: myfont1;
    padding: 10px;
}